* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.buy-action-window {
  width: fit-content;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.56);
  text-align: center;
  padding: 20px;
  margin: 20px;
}

h2 {
  border-bottom: 4px solid lightcoral;
  width: fit-content;
  padding: 0px 15px 2px;
  margin: auto;
}

.flex {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.flex .input {
  display: grid;
  gap: 10px;
}
.flex input {
  padding: 10px;
}
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: lightcoral;
  color: #fff;
  border-radius: 5px;
}